/* body {
    margin:2rem;
    background-color: #f9f7f1;
} */

img {
    -webkit-filter: grayscale(80%); /* Safari 6.0 - 9.0 */
    filter: grayscale(80%);
  }

@media (min-width: 270px) and (max-width: 768px) {
    .card-columns {column-count: 1;}
    .card-columns .card {
        border-bottom-style: solid !important;
        border-bottom-color: 2f2f2f;
        border-bottom-style: none;
        border-right-style: none;
        border-left-style: none;
        border-top-style: none;
        border-radius: 0px;
      }
    body{
        margin: 0rem;
    }
}
/* 
@media (max-width: 576px){
    .card-columns {column-count: 1;}
} */

/* Medium devices (tablets, 768px and up) The navbar toggle appears at this breakpoint */
@media (min-width: 768px) and (max-width: 992px) {  
  .card-columns {column-count: 2;}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1200px) { 
 .card-columns {column-count: 3;}
}
 
/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {  
   .card-columns {column-count: 3;} 
   /* .card { border-right: 2px black} */
}

.border-article{
    border-left-style: solid;
    border-left-color: 2f2f2f;
    border-bottom-style: none;
    border-right-style: none;
    border-top-style: none;
    border-radius: 0px;
}

.img-card-center{
    width: 100% !important;
    /* margin-bottom: 1rem;
    margin-top: 1rem; */
}

.figure{
    width: 100%;
}

.figure .figcaption{
	font-style: italic;
	font-size: 13px;
}

.card-title .headline{
    text-align: center;
    line-height: normal;
    font-family: 'Playfair Display', serif;
    display: block;
    margin: 0 auto;


}
.card-title .headline.hl1{
    font-weight: 700;
    font-size: 30px;
    text-transform: uppercase;
    padding: 10px 0 10px 0;

}

.card-title .headline.hl2{
    font-weight: 400;
    font-style: italic;
    font-size: 24px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.card-title .headline.hl2:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.card-title .headline.hl2:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 13px;
    display: block;
    margin: 0 auto;

}

.card-title .headline.hl3{
    font-weight: 400;
    font-style: italic;
    font-size: 36px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.card-title .headline.hl4{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.card-title .headline.hl4:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.card-title .headline.hl4:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}

.card-title .headline.hl5{
    font-weight: 400;
    font-size: 42px;
    text-transform: uppercase;
    font-style: italic;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.card-title .headline.hl6{
    font-weight: 400;
    font-size: 18px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.card-title .headline.hl6:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 7px;
    display: block;
    margin: 0 auto;
}
.card-title .headline.hl6:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 10px;
    display: block;
    margin: 0 auto;

}
.card-title .headline.hl7{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    display: block;
    padding: 10px 0 10px 0;
}
.card-title .headline.hl8{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.card-title .headline.hl9{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}
.card-title .headline.hl10{
    font-weight: 700;
    font-size: 12px;
    box-sizing: border-box;
    padding: 10px 0 10px 0;
}

.card-text {
    text-align: justify;
    text-justify: inter-word;
}

.card-text .citation{
    font-family: 'Playfair Display', serif;
    font-size: 36px;
    line-height: 44px;
    font-style: italic;
    text-align: center;
    font-weight: 400;
    display: block;
    margin: 40px 0 40px 0;
    font-feature-settings: "liga", "dlig";

}
.card-text .citation:before{
    border-top: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}
.card-text .citation:after{
    border-bottom: 1px solid #2f2f2f;
    content: '';
    width: 100px;
    height: 16px;
    display: block;
    margin: 0 auto;
}

/* Diagonal stacked paper effect */
.paper {
    background-color: #fff;
    /* Need position to allow stacking of pseudo-elements */
    position: relative;
    /* Padding for demo purposes */
    padding: 30px;
    max-width: 992px;
    margin: 0 auto;
  }
  
  .paper,
  .paper::before,
  .paper::after {
    /* Add shadow to distinguish sheets from one another */
    box-shadow: 2px 1px 1px rgba(0,0,0,0.15);
  }
  
  .paper::before,
  .paper::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #eee;
  }
  
  /* Second sheet of paper */
  .paper::before {
    left: 7px;
    top: 5px;
    z-index: -1;
  }
  
  /* Third sheet of paper */
  .paper::after {
    left: 12px;
    top: 10px;
    z-index: -2;
  }
  
  /* Demo-specific styles */
  body {
    background-color: #333;
    /* padding: 2em; */
  }

.main-title{
    font-family: 'Playfair Display', serif;
    font-weight: 900;
    font-size: 80px;
    text-transform: uppercase;
    display: inline-block;
    line-height: 72px;
    margin-bottom: 20px;

}
p{
    margin-top: 0;
    margin-bottom: 20px;
}
.head{
    text-align: center;
    position: relative;
    margin-bottom: 2rem;
}

.subhead{
    text-transform: uppercase;
    border-bottom: 2px solid #2f2f2f;
    border-top: 2px solid #2f2f2f;
    padding: 12px 0 12px 0;

}
